.dropdown {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  &__content {
    padding: 5px;

    border: 0.5px solid #d9d9d9;
    border-radius: 5px;
    background-color: #343434;
  }

  &__opened {
    display: inline-flex;
  }

  &__closed {
    display: none;
  }
}
