.dashboard {
  width: 50%;

  border: 1px solid var(--gray-secondary);
  background-color: var(--dark-primary);
  color: var(--light);

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 0px 10px 20px;

    background-color: var(--dark-gray-secondary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__content {
    padding: 20px;
  }
}
