.dashboard {
  width: 50%;

  border: 1px solid #636363;
  background-color: #1f1f1f;
  color: #e8e8e8;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 0px 10px 20px;

    background-color: #3a3a3a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__content {
    padding: 20px;
  }
}
