.code-page {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 100%;

  &__task-description,
  &__tabset {
    height: 100%;
    width: 50%;
  }

  &__tabset {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__code-editor,
  &__output {
    height: 50%;
  }

  @media (max-width: 1023px) {
    flex-wrap: wrap;

    &__task-description,
    &__tabset {
      width: 100%;
    }

    &__code-editor,
    &__output {
      height: 100%;
    }
  }
}
