:root {
  --white: #fff;
  --light: #e8e8e8;
  --gray-primary: #8b8b8b;
  --gray-secondary: #636363;
  --dark-primary: #1f1f1f;
  --dark-secondary: #2a2a2a;
  --dark-gray-primary: #3f3f3f;
  --dark-gray-secondary: #3a3a3a;
  --green: #5cba49;
  --red: #9c1414;
  --blue: #699cff;
}
