.task {
  display: flex;
  flex-direction: column;

  color: var(--white);

  &__highlight {
    width: max-content;
    border: 1px solid var(--gray-secondary);
    border-radius: 5px;
    padding: 0px 3px;
    background-color: var(--dark-gray-secondary);
    color: var(--light);
  }

  &__task__example {
    display: flex;
    flex-direction: column;
  }

  &__example-details {
    position: relative;
    padding: 5px 15px;

    &::before {
      position: absolute;
      width: 2px;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: var(--gray-secondary);

      content: '';
    }
  }

  &__example-row {
    margin: 2px;
  }

  &__example-content {
    color: var(--gray-primary);
  }

  &__constraints {
    margin-top: 30px;
  }

  &__constraints-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__paragraph,
  &__example-row,
  &__constraints {
    font-size: 14px;

    @media (max-width: 460px) {
      font-size: 12px;
    }
  }
}
