.button {
  position: relative;
  width: 110px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: var(--gray);
  cursor: pointer;

  &:hover {
    background-color: var(--dark-gray-secondary);
  }

  .chevron-icon {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
  }

  &__clicked {
    .chevron-icon {
      transform: rotate(180deg);
    }
  }
}
