@font-face {
  font-family: 'Montserrat';
  src: url('./shared/assets/fonts/Montserrat-Variable.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat';
}

body,
#root {
  min-height: 100vh;
}

#root {
  background-color: black;
}
